body
		{
			background-color: darkorchid;
		}
		#forget
		{
			height: 550px;
			width: 500px;
			border: 2px solid black;
			padding-left: 50px;
			margin-left: 460px;
			margin-top: 60px;
			background-color: white;
		}
		.for_label
		{
			font-size: 1.6em;
			font-weight: 900;
		}
		.for_input
		{
			height: 30px;
			width: 90%;
			margin-bottom: 20px;
			font-weight: 500;
			font-size: 1.3em;
		}
		#for_button
		{
			height: 40px;
			width: 140px;
			background-color: black;
			font-size: 1.5em;
			font-weight: 600;
			color: white;
			margin-left: 140px;
			margin-top: 20px;
		}
		#forget_img
		{
			margin-left: 40px;
		}
		.for_input:focus
		{
			background-color: wheat;
		}