body
		{
			background-color: darkorchid;
		}
		#register
		{
			display: flex;
			margin-top: 100px;
			margin-left: 350px;
			height: 400px;
			width: 800px;
		}
		#register_img
		{
			height: 370px;
			width: 400;
/*			border: black solid 2px;*/
			padding-top: 80px;
			background-color: white;
		}
		#register_form
		{
/*			border: black solid 2px;*/
			height: 450px;
			width: 400px;
			padding-left: 30px;
			background-color: white;
		}
		.reg_label
		{
			font-size: 1.3em;
			font-weight: 800;

		}
		.reg_input
		{
			height: 35px;
			width: 90%;
			margin-bottom: 20px;
			font-weight: 500;
			font-size: 1.3em;
		}
		#reg_buton
		{
			margin-left: 125px;
			height: 40px;
			width: 140px;
			margin-top: 30px;
			background-color: black;
			color: white;
/*			box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.6) 0px 15px 12px;*/

		}
		.reg_input:focus
		{
			background-color: #74ccf4;
		}